@media screen and (max-width: 1110px)
 {
    

    .phone-media {
        display: none;
    }

    .header-top__social-network {
        display: none;
    }
    
    .header-menu {
        display: none;
    }

    .header-bottom {
        width: 100%;
    }

    .header-bottom .button-enroll {
        display: none;
    }

    .header-burger {
        display: block;
        background-color: #252525;
        /* box-shadow: 1px 1px 0px #FB37FF, -1px -1px  #FB37FF; */
        position: absolute;
        margin-right: 0;
        display: none;
        z-index: 110;
    }

    .burger-inactive {
        display: block;
        position: absolute;
        right: 0;
    }

    .footer {
        width: auto;
    }
    .our-team {
        height: auto;
    }

    .our-team__photos {
        width: auto;
        height: auto;
    }

    .our-team__team h2 {
        width: auto;
    }

    .our-team__photos-media {
        width: auto;
        height: 100%;
    }

    .our-team__photos-media img {
        width: 367px;
        height: 367px;
    }
}

@media screen and (max-width: 640px) {
/* меняются о нас и футер*/

.about-us {
    height: 1200px;
}

.about-us__item {
    flex-wrap: wrap;
    height: 1200px;
}
.about-us__text {
    height: 500px;
}

.master-yana {
    /*order: 0;*/
    width: 80%;
    margin-top: 20px;
}

.master-yana-img {
    height: 500px;
    justify-content: center;
}

.footer_list {
    display: none;
}

.footer-contacts p {
    display: none;
}

footer {
    height: auto;
}

.footer-contacts .header-phone {
    margin-bottom: 55px;
}

.footer {
    flex-direction: column;
    height: auto;
}

.footer-logo {
    left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-contacts__social-network {
    margin-bottom: 46px;
    margin-left: -50px;
}

}

@media screen and (max-width: 420px) {
/* меняется хедер*/

.master-yana {
    /*order: 0;*/
    width: 90%;
    margin-top: 20px;
}

.master-yana-img {
    height: 500px;
    justify-content: center;
}

.about-us__item h1 {
    font-size: 42px;
}
.about-us__item h2 {
    font-size: 26px;
}
.about-us__item p {
    font-size: 16px;
}

.header-top__contacts a p {
    font-size: 15px;
    
}

.header-bottom a {
    width: 200px;
    
}

.img-logo {
    object-fit: cover;
    width: 100%;
    
}


.header-burger a img {
    transform: scale(0.8,0.8);
    
}

.burger-inactive a img {
    transform: scale(0.8,0.8);
    
}


.header-burger ul li a {
    font-size: 16px;
}

.header-burger ul {
    right: 0;
}

.header-top__social-network-media  {
    justify-content: center;
}

.header-top__social-network-media a {
    font-size: 24px;
}

.burger-active {
    margin-top: 2px;
}


}