@media screen and (max-width: 1100px) {
   .header-top__social-network {
        display: none;
   }

   .header-menu {
        display: none;
   }

   .header-phone {
    display: none;
   }

   .header-bottom  .button-enroll {
        display: none;
   }

   .header-bottom {
    width: 100%;
}

   .burger-inactive {
        display: block;
        position: absolute;
        right: 0;
    }

    .header-burger {
        background-color: #252525;
    }

    .services-and-prices {
        height: 100%;
    }

    footer {
        height: 100%;
    }
}

@media screen and (max-width: 744px) {
    .phone-media {
        display: none;
    }

    .header-top__social-network {
        display: none;
    }
    
    .header-menu {
        display: none;
    }

    .header-bottom {
        width: 100%;
    }

    .header-bottom .button-enroll {
        display: none;
    }

    #header-logo {
        margin-left: 20px;
    }

    .header-bottom-logo {
        margin-left: 20px;
    }

    .header-burger {
        display: block;
        background-color: #252525;
        /* box-shadow: 1px 1px 0px #FB37FF, -1px -1px  #FB37FF; */
        position: absolute;
        margin-right: 0;
        display: none;
        z-index: 110;
    }

    .header-phone {
        display: none;
        position: relative;
        right: 22px;
    }

    .burger-inactive {
        display: block;
        position: absolute;
        right: 0;
    }
    
    .services-and-prices {
        width: 100%;
        height: auto;
    }

    .services-and-prices__menu img {
        width: auto;
    }

    .education-h2 {
        margin-bottom: 50px;
        width: 744px;

    }

    .education {
        margin-top: -75px;
        width: auto;
    }

    .education-media {
        width: auto;
    }

    .education-banner__enroll {
        width: auto;
        justify-content: start;
    }

    .education-banner__img img {
        right: 0;
    }

    .education-banner__text {
        left: 0;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .education-banner__text-banner {
        width: auto;
        margin: auto;
        margin-top: 20px;
    }

    .education-banner__text-banner p {
        width: 240px;
    }

    .our-team {
        height: auto;
    }

    .our-team__photos {
        width: auto;
        height: auto;
    }

    .our-team__team h2 {
        width: auto;
    }

    .our-team__photos-media {
        width: auto;
        height: 100%;
    }

    .our-team__photos-media img {
        width: 367px;
        height: 367px;
    }

    .reviews {
        width: auto;
        margin-top: 0;
        margin-bottom: 100px;
    }

    .reviews-media {
        width: auto;
        height: auto;
        flex-wrap: wrap;
    }

    .reviews__text {
        width: auto;
        height: auto;
        padding: 0;
    }

    .reviews__text h2 {
        margin-bottom: 0;
        width: auto;
    }

    .reviews__text p {
        width: auto;
        height: auto;
        text-align: left;
    }


    .reviews-widget {
        height: 800px;
        width: 744px;
    }

    .how-find-us {
        width: auto;
        height: auto;
    }

    .how-find-us__content {
        width: auto;
        height: auto;
    }

    .how-find-us-media {
        flex-direction: column;
    }

    .map {
        width: auto;
        margin-bottom: 30px;
    }
    
    .how-find-us__contacts {
        margin-bottom: 30px;
    }

    .footer {
        width: auto;
    }

    .footer .header-phone {
        display: block;
    }

    .button-up{
        left: 50%;
        z-index: 95;
    }

    /*********БАННЕРЫ***********/

    .banners {
        height: 380px;
    }

    .first-banner__img {
        transform: scale(0.6,0.6);
        right: 230px;
        bottom: 125px;
    }

    .first-banner__benefits {
        font-size: 48px;
        position: relative;
        right: 200px;
    }

    .first-banner__benefits--1 {
        margin-top: 10px;
    }

    .first-banner__benefits--2 {
        position: relative;
        top: -40px;
    }

    /* .first-banner__text {
        left: -200px;
        width: 330px;
    } */

    .first-banner__text {
        left: -240px;
        bottom: 70px;
        width: 330px;
    }

    .second-banner__img {
        transform: scale(0.6,0.6);
        right: 325px;
        top: -143px;
    }

    .second-banner__text {
        font-size: 48px;
        position: relative;
        bottom: 50px;
        right: 50px;
    }

    .second-banner__button {
        right: 50px;
        top: -100px;
        width: 660px;
    }

    .third-banner img{
        transform: scale(1.15,1.15);
        position: relative;
        left: 53px;
        bottom: 29px;
    }

    .third-banner__content {
        right: 0;
        left: -575px;
        bottom: 30px;
        width: 650px;
    }

    .third-banner__content-media {
        font-size: 40px;
        position: relative;
        right: 20px;
        width: 550px;
    }

    .third-banner .second-banner__button {
        position: relative;
        top: -150px;
    }

    .left-arrow {
        top: 65px;
        left: 30px;
    }
    
    .right-arrow {
        top: 65px;
        left: 60px;
    }    
}

@media screen and (max-width: 420px) {
    .header-top__contacts {
        width: auto;
        height: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        height: 100%;
        width: auto;
        flex-direction: column;
    }

    .footer_list {
        margin-top: 20px;   
        flex-direction: row;
        height: 100%;
    }

    .footer_list li {
        margin-right: 20px;
    }

    .footer-logo {
        position: relative;
        left: -10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .footer-contacts__social-network {
        position: relative;
        right: 30px;
        margin-bottom: 20px;
    }

    .footer-contacts .header-phone {
        position: relative;
        right: 40px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px) {

    .left-arrow {
        top: 110px;
        left: 30px;
    }
    
    .right-arrow {
        top: 110px;
        left: 60px;
    }

    .header-top__contacts {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .header-top__contacts a p {
        font-size: 16px;
    }

    .header-bottom {
        right: 0;
        justify-content: start;
    }

    .header-bottom a img {
        /* display: block; */
        transform: scale(0.6,0.6);
        justify-content: stretch;
    }

    .header-bottom-logo {
        position: relative;
        right: 62px;
    }
 

    /*********ОБУЧЕНИЕ**********/

    .services-and-prices__menu img {
        width: 320px;
        height: 320px;
    }

    .education {
        height: auto;
    }

    .education-media h2 {
        width: auto;
    }
    
    .education-banner__img {
        width: auto;
        justify-content: start;
        position: relative;
    }

    .education-banner__img img {
        transform: scale(0.6,0.6);
        width: auto;
        margin-right: 0;
        margin-left: 0;
        position: absolute;
        right: -40px;
        bottom: 25px;
    }

    .education-banner__enroll {
        flex-direction: column;
        justify-content: center;
    }

    .education-banner__img {
        order: 2;
        right: -53px;
    }

    .education-banner__text {
        order: 1;
        margin-top: 40px;
        margin-left: 20px;
    }

    .education-banner__text-banner p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .education-banner__text .button-enroll {
        margin-top: 255px;
        margin-right: 10px;
        margin-bottom: 55px;
    }

    .education-h2 {
        width: auto;
        height: auto;
        margin-bottom: 100px;
    }

    .our-team__team {
        position: relative;
    }

    .our-team__photos {
        justify-content: center;
        bottom: 200px;
    }

    .our-team__photos-media {
        width: auto;
        height: auto;
    }

    .our-team__photos img {
        width: 320px;
        height: 320px;
    }

    .reviews {
        height: auto;
    }

    .reviews-media {
        margin-left: 20px;
        margin-right: 20px;
    }

    .how-find-us__contacts p1 {
        font-size: 26px;
    }

    .how-find-us__contacts p2 {
        font-size: 16px;
    }

    .how-find-us-main {
        width: 320px;
    }

    #how-find-us-widget {
        width: 320px;
    }

    .how-find-us-widget-map {
        width: 320px;
    }

    .map iframe {
        width: 320px;
        height: 400px;
    }

    .footer_list {
        display: none;
    }
    

    .footer-contacts p {
        display: none;
    }

    footer {
        height: auto;
    }

    .footer-contacts .header-phone {
        margin-bottom: 55px;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer-logo {
        left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer-contacts__social-network {
        margin-bottom: 46px;
        margin-left: -50px;
    }

    .header-burger ul li a {
        font-size: 16px;
    }
    
    .header-burger ul {
        right: 0;
    }

    .header-top__social-network-media  {
        margin-left: 46px;
    }

    .header-top__social-network-media a {
        font-size: 24px;
    }

    .burger-active {
        margin-top: 2px;
    }

    .button-up {
        left: 23%;
    }

    /*********БАННЕРЫ***********/

    .first-banner__img {
        transform: scale(0.4,0.4);
        left: -250px;
        top: -170px;
    }

    .first-banner__benefits {
        font-size: 32px;
        left: -430px;
        top: 75px;
        z-index: 40;
    }

    .first-banner__benefits--2 {
        top: 10px;
    }

    .first-banner__text {
        width: 240px;
        left: -580px;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        top: 40px;
        padding: 0;
    }

    .second-banner__img {
        transform: scale(0.3,0.3);
        right: 550px;
        top: -135px;
    }

    .second-banner__text {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        bottom: 40px;
        right: 80px;
    }

    .second-banner__text--2 {
        bottom: 35px;
    }

    .second-banner__button {
        width: 328px;
        height: 72px;
        right: 100px;
        position: relative;
        top: 75px;
    }

    .second-banner__button a p {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
    }

    .third-banner img {
        transform: scale(0.6,0.6);
        left: -172px;
        top: 4px;
    }

    .third-banner__content-media {
        right: 85px;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        width: 270px;
    }

    .third-banner .second-banner__button {
        top: -44px;
        width: 330px;
    }

    .reviews-widget {
        height: 700px;
        width: 100%;
    }
}
