@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');

/*прибиваем футер*/
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    font-family: 'Inter';
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F5F5F5;
}
main {
    flex: 1 0 auto;
    background-color: #F5F5F5;
}
footer {
    flex: 0 0 auto;
}
/* закончили прибивать*/
.container {
    max-width: 1140px;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

/*хедер*/

header {
    padding: 0 20px;
    height: 200px;
    background-color: #252525;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-top {
    height: 113px;
    align-items: center;
}

.header-top p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.header-top__contacts {
    width: 851px;
    align-items: center;
}

.header-top__contacts a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}


.header-top__social-network a {
    margin-left: 45px;
}

.header-bottom {
    height: 60px;
    align-items: center;
    position: relative;
    right: 6px;
}

.header-bottom ul {
   width: 465px;
   list-style: none;
}

.header-bottom ul a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.button-enroll {
    width: 240px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #FB37FF;
    box-shadow: 0px 0px 10px #fb37ff;
}

.button-enroll:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
}

.button-enroll:hover a {
    color: white;
}

.button-enroll a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FB37FF;
}
/*о нас*/

.about-us {
    padding: 0 20px;
    margin-top: 140px;
}

.about-us__item {
    
    height: 740px;
}

.about-us__text {
    grid-template-rows: 0.5fr 0.25fr 0.5fr 1fr;
}

.master-yana-img {
    object-fit: cover;
    width: 100%;
    height: 740px;
    transform: scale(-1, 1);
}

.main-caption {
    font-family: Raleway;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}

.caption {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

.text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

/*----Наша команда----*/

.our-team {
    padding: 0 20px;
    margin-top: 140px;
    height: 505px;
    align-items: flex-start;
}

.our-team__team h2 {
    max-width: 1140px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
}

.our-team__photos {
    max-width: 1142px;
}

.our-team__photos img{
    /*position: relative;*/
    bottom: 25px;
}

.our-team__names {
    /*font-family: 'Raleway';*/
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.our-team__masters {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /*position: relative;*/
    bottom: 35px;
}
/*slider-text*/

.certificates {
    padding: 0 20px;
    margin-top: 140px;
    margin-bottom: 140px;
}

.certificates-text {
    grid-template-rows:2fr 1.5fr 1fr;
}

/*slider*/

.slider {
    margin-bottom: 140px;
    background-color: #F5F5F5;
}

.slider-container {
    overflow: hidden;
    position: relative;
    
}

.slider-track {
    display: flex;
    transition: .2s;
}

.slider__item {
    height: 400px;
}


/* Картинка масштабируется по отношению к родительскому элементу: */
.slider__item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 400px;
}
/*вроде костыли, а вроде и нет, работает)*/
.slider-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Кнопки назад и вперёд: */
.btn--prev,.btn--next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 30px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
/* При наведении курсора на кнопки добавляем фон кнопок: */
.btn--prev:hover,
.btn--next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*----Футер-----*/

footer {
    height: 266px;
    background-color: #252525;
    padding: 0 20px;
}

.footer {
    height: 266px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.footer_list {
    height: 156px;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.footer_list a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-logo {
    position: relative;
    left: 70px;
}

.footer-contacts__social-network a {
    margin-left: 45px;
}

.footer-contacts {
    height: 144px;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contacts p {
    margin-top: 83px;
}

.footer-contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}


/*******Форма записи*********/

.record-form {
    width: 786px;
    height: 731px;
    background-color: #252525;
    color: #FB37FF;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 100px;
    z-index: 100;
    display: none;
}

#gray {  /*Затемнение при клике на кнопку Отправить*/
    background-color: rgb(69, 69, 69);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0.7;
    display: none;
}

.record-form__container {
    height: 447px;
    margin-top: 143px;
    margin-left: 40px;
    position: relative;
    bottom: 60px;
}

.record-form .legend {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    position: relative;
    right: 30px;
}


.record-form p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.record-form p.button-enroll__information-button-click {
    width: 410px;
    color: #FB37FF;
    display: none;
}

.record-form .legend__call-back {
    margin-top: 30px;
    margin-bottom: 50px;
}

.record-form input {
    height: 60px;
    width: 660px;
    margin-bottom: 50px;
    outline: 0;
    outline-offset: 0;
    color: #FFFFFF;
    padding-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #252525;
    border: 1px solid #FB37FF;
}

.record-form input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
    opacity: 0.75;
}

.record-form input::required {
    border: 1px solid #FFFFFF;
}

.record-form input:focus {
    border: 1px solid #FFFFFF;
}


.record-form input:valid {
    border: 1px solid white;
}

.record-form input:invalid {
    border: 1px solid #f32e7c;
}

.record-form__button-enroll .record-form__button {
    margin-right: 48px;
    align-items: center;
    width: 240px;
    color: #FB37FF;
    padding-right: 28px;
}



.record-form__button-enroll .record-form__button:valid {
    border: 1px solid #FB37FF;
}

.record-form__button-enroll:hover .record-form__button {
    border: 1px solid white;
    color: white;
}

.button-enroll__information {
    width: 410px;
    position: relative;
    bottom: 22px;
}

.record-form__cross {
    position: relative;
    top: -40px;
    left: 671px;
}

.choose-service {
    width: 705px;
    margin-bottom: 50px;
}

.choose-service select {
    color: white;
    background-color: #252525;
    border: 1px solid white;
    padding-left: 22px;
}

/* *****Бургер + меню ***** */

.header-burger {
    background-color: red;
    width: 398px;
    flex-direction: column;
    top: -1px;
    z-index: 60;
    position: absolute;
    right: 0;
    display: none;
}

.header-burger img {
    margin-left: calc(100% - 55px);
}

.header-burger ul {
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    position: relative;
    right: 40px;
}

.header-burger ul li {
    margin-bottom: 50px;
    list-style: none;
}

.header-burger ul li a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.header-top__social-network-media {
    position: relative;
    left: 110px;
    width: 226px;
    margin-bottom: 46px;
}

.burger-inactive {
    position: absolute;
    right: 0;
    display: none;
}

.burger-inactive img {
    margin-bottom: 3px;
}